body{
background: linear-gradient(135deg,#eef2ff,#f8fafc);
font-family: "Segoe UI", sans-serif;
min-height:100vh;
}

/* NAVBAR */

.custom-navbar{
background:linear-gradient(90deg,#1e3a8a,#6366f1);
}

.navbar-brand{
font-weight:600;
letter-spacing:.5px;
}

/* FILTER CARD */

.filter-card{
border-radius:14px;
border:none;
background:white;
}

/* STUDENT CARDS */

.student-card{
border-radius:14px;
transition:all .25s ease;
overflow:hidden;
}

.student-card:hover{
transform:translateY(-6px);
box-shadow:0 15px 30px rgba(0,0,0,0.15);
}

.student-img{
height:210px;
object-fit:cover;
}

/* FORM */

.form-wrapper{
display:flex;
justify-content:center;
align-items:center;
padding-top:40px;
}

.form-card{
width:100%;
max-width:650px;
border-radius:14px;
border:none;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.form-card .card-header{
background:linear-gradient(90deg,#6366f1,#4f46e5);
color:white;
font-weight:600;
border-top-left-radius:14px;
border-top-right-radius:14px;
}

.form-card input{
border-radius:8px;
}

/* BUTTONS */

.btn-primary{
background:#4f46e5;
border:none;
}

.btn-primary:hover{
background:#4338ca;
}

.btn-outline-primary{
border-color:#4f46e5;
color:#4f46e5;
}

.btn-outline-primary:hover{
background:#4f46e5;
color:white;
}

.btn-outline-danger:hover{
background:#dc2626;
color:white;
}

/* MODAL IMAGE */

.modal img{
border-radius:8px;
}

/* HTML: <div class="loader"></div> */
.loaderwrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}
.loader {
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #4f46e5 #e70a0a00;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}



